# -------------------------------------------------------------------
# Development environment junk
# -------------------------------------------------------------------
*.tmp
*.bak
*.swp
*~
*.log

# -------------------------------------------------------------------
# OS & editor files
# -------------------------------------------------------------------
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# VSCode
.vscode/
.history/
